{% extends "app/base_site.html" %}
{% block title %} 关于我们{% endblock %}
{% block active %}
        <li >
            <a href="index.html">主页</a>
        </li>
{#        <li >#}
{#            <a href="features.html">产品</a>#}
{#        </li>#}
        <li class="active">
            <a href="about.html">关于我们</a>
        </li>
{#        <li>#}
{#            <a href="jion_us.html">加入我们</a>#}
{#        </li>#}
    {% endblock %}
{% block contents %}
	<div id="contents">
		<div id="about">
			<h1>关于我们</h1>
			<h2>技术团队</h2>
			<p>
				公司拥有一支强大的技术研发团队：中南大学湘雅医学院博士生导师1人、湖南省中医药研究院研究员1人、中南大学湘雅药学院副教授1人、药学博士2人、研究生3人。已经开发出的产品有：婴幼儿系列产品10款、儿童系列6款、中老年产品4款、慢性病预防产品4款（准备申请特医食品）。
			</p>
			<h2>技术设备</h2>
			<p>
				公司拥有准GMP标准化厂房，V型混合机、全自动直压式压片机、枕式自动包装机，每月产量为800万片。年产值2000万元。通过半年的摸索实践，国内首创工艺，彻底解决了益生菌压片高死亡率的难题，也解决了片剂剂型长期保持益生菌的活性的难题。通过我们自创工艺压片，益生菌的死亡率保持在6%以下。采取一片一袋，用枕式包装机包装，一片一袋，可以更好地保持益生菌的活性并可长期保存；方便取用，不会交叉污染。包装式样灵活，可用纸盒、铁罐、塑料罐、袋装等。
			</p>
			<h2>管理体系</h2>
			<p>
				公司拥有严格的质量管理体系，由董事长主管质量，按照ISO22000标准结合公司的实际，制定了严格的质量管理制度，对各工序关键控制点实施严格的质量管控。对采购、入库、混料、压片、内包、外包、出库、售后等都制定了相应的管理制定，并严格实施。
			</p>
			<h2>公司信念</h2>
			<p>
				长沙彬王营养食品有限公司将以诚信为本，自强不息的企业精神，始终坚持“合作、共赢、发展”的经营理念，“信于行，善于心” 企业价值观，质量零缺陷的永恒目标，大爱无疆的社会责任，努力打造成为全社会最尊敬的良心企业！
			</p>
		</div>
	</div>
{% endblock %}