{% extends "app/base_site.html" %}
{% block title %} 主页{% endblock %}gi
    {% block contents %}
    <div id="adbox">
		<div class="clearfix">
{#			<img src="/static/images/chanpin.jpg" alt="Img" height="342" width="368">#}
			<div>
				<h2>公司简介</h2>
				<p>
					长沙彬王营养食品有限公司成立于2014年9月，是一家专业生产、销售益生菌系列（片剂）营养品的公司。公司由四位从事益生菌行业10几年的行业精英创办而成。他们在技术开发、生产管理、质量控制及售后服务等方面积累了丰富的经验。公司技术负责人苏小平先生于1989年毕业于哈尔滨工业大学。一直从事技术开发、质量管理、技术管理、销售管理工作。2006年开始从事益生菌的菌种筛选和应用，2009年和同事一起获得“益生菌双层包埋微囊工艺”的国家发明专利，2017年又申报了两个益生菌应用方面的国家发明专利，是益生菌研究和应用推广的先行者。
				</p>
			</div>
		</div>
	</div>
{#	<div id="contents">#}
{#		<div class="inner_copyright">关于 <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">长沙彬王营养食品有限公司</a></div>#}
{#		<div id="tagline" class="clearfix">#}
{#			<h1>公司信念</h1>#}
{#			<div>#}
{#				<p>#}
{#					长沙彬王营养食品有限公司将以诚信为本，自强不息的企业精神，始终坚持“合作、共赢、发展”的经营理念，“信于行，善于心”#}
{#				</p>#}
{#				<p>#}
{#					企业价值观，质量零缺陷的永恒目标，大爱无疆的社会责任，努力打造成为全社会最尊敬的良心企业！#}
{#				</p>#}
{#			</div>#}
{##}
{#		</div>#}
{#	</div>#}
    {% endblock %}
